In [ ]:
load boqxxx.xlsx

In [1]:
import pandas as pd

# Load the Excel file
data = pd.read_excel('boqxxx.xlsx')

# Display the first few rows of the data
data.head()

                         รายการ จำนวน  หน่วย ราคาวัสดุ ค่าแรงงาน
0    งานรื้อถอนและเตรียมพื้นที่   NaN    NaN       NaN       NaN
1  รื้อถอนโครงสร้างพื้น คาน เสา     1  ตร.ม.         -       250
2           รื้อถอนเสาโครงสร้าง     1    ต้น         -      1000
3        รื้อถอนโครงสร้างหลังคา     1  ตร.ม.         -        50
4               รื้อถอนวัสดุมุง     1  ตร.ม.         -        25

In [ ]:
# Filter rows where column 'จำนวน' has no data (NaN)
no_data_rows = data[data['จำนวน'].isna()]

# Print the rows
print(no_data_rows)

                                        รายการ จำนวน หน่วย ราคาวัสดุ ค่าแรงงาน
0                   งานรื้อถอนและเตรียมพื้นที่   NaN   NaN       NaN       NaN
5                             ราคารวมงานหมวด 1   NaN   NaN       NaN       NaN
6           งานโครงสร้างเสาเข็ม เสาตอม่อและเสา   NaN   NaN       NaN       NaN
15                           เหล็กเสริมคอนกรีต   NaN   NaN       NaN       NaN
22                            ราคารวมงานหมวด 2   NaN   NaN       NaN       NaN
..                                         ...   ...   ...       ...       ...
338     อุปกรณ์สำหรับความปลอดภัยเบื้องต้นสถานี   NaN   NaN       NaN       NaN
344                          งานเดินท่อเมนแก๊ส   NaN   NaN       NaN       NaN
351  งานติดตั้งชุด Motor Device Shut Off Valve   NaN   NaN       NaN       NaN
356      งานทดสอบและติดตั้งสถานีพร้อมระบบไฟฟ้า   NaN   NaN       NaN       NaN
359                                 งานรื้อถอน   NaN   NaN       NaN       NaN

[99 rows x 5 columns]

In [ ]:
data = data.drop(no_data_rows.index)

In [6]:
data = data.drop(no_data_rows.index)
data.to_excel('boq_clean.xlsx', index=False)